<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="page-header">
            <h2>Poliza <small></small></h2>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form method="POST" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <label for="" class="form-label">Folio</label>
                    <input type="text" class="form-control" autocomplete="off" #folio>
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Vigencia</label>
                    <input type="text" class="form-control" autocomplete="off">
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Tipo</label>
                    <input type="text" class="form-control" autocomplete="off">
                </div>
            </div>
        </form>
    </div>

</div>
<br>
<div class="row">
    <div class="col">
        <div class="page-header">
            <h2>Expediente <small></small></h2>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form method="POST" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <label for="" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" autocomplete="off" #folio>
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Fecha Nacimiento</label>
                    <input type="text" class="form-control" autocomplete="off">
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Sexo</label>
                    <input type="text" class="form-control" autocomplete="off">
                </div>
            </div>
        </form>
    </div>

</div>
<br>
<div class="row">
    <div class="col">
        <div class="page-header">
            <h2>Lista de Consultas <small></small></h2>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Fecha Atención</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>CONSULTA GENERAL</td>
                    <td>HOSPITAL LOS ANGELES</td>
                    <td>2021-08-29</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>HOSPITALIZACION</td>
                    <td>HOSPITAL PASEO DE LA PRESA</td>
                    <td>2021-01-25</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>